<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gll.shop.mapper.BrandMapper">

    <resultMap id="BaseResultMap" type="com.gll.shop.entity.Brand">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="firstLetter" column="first_letter" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="showStatus" column="show_status" jdbcType="INTEGER"/>
            <result property="brandStory" column="brand_story" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,first_letter,
        sort,show_status,brand_story
    </sql>
</mapper>
