<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gll.shop.mapper.ProductStockMapper">

    <resultMap id="BaseResultMap" type="com.gll.shop.entity.ProductStock">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="productId" column="product_id" jdbcType="BIGINT"/>
            <result property="productCode" column="product_code" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="stock" column="stock" jdbcType="INTEGER"/>
            <result property="lowStock" column="low_stock" jdbcType="INTEGER"/>
            <result property="sale" column="sale" jdbcType="INTEGER"/>
            <result property="spData" column="sp_data" jdbcType="VARCHAR"/>
            <result property="rowVersion" column="row_version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,product_id,product_code,
        price,stock,low_stock,
        sale,sp_data,row_version
    </sql>
</mapper>
