<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gll.shop.mapper.ProductMapper">

    <resultMap id="BaseResultMap" type="com.gll.shop.entity.Product">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="brandId" column="brand_id" jdbcType="BIGINT"/>
            <result property="productCategoryId" column="product_category_id" jdbcType="BIGINT"/>
            <result property="productAttributeCategoryId" column="product_attribute_category_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="pic" column="pic" jdbcType="VARCHAR"/>
            <result property="productSn" column="product_sn" jdbcType="VARCHAR"/>
            <result property="deleteStatus" column="delete_status" jdbcType="INTEGER"/>
            <result property="publishStatus" column="publish_status" jdbcType="INTEGER"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="sale" column="sale" jdbcType="INTEGER"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="subTitle" column="sub_title" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="originalPrice" column="original_price" jdbcType="DECIMAL"/>
            <result property="stock" column="stock" jdbcType="INTEGER"/>
            <result property="lowStock" column="low_stock" jdbcType="INTEGER"/>
            <result property="unit" column="unit" jdbcType="VARCHAR"/>
            <result property="weight" column="weight" jdbcType="DECIMAL"/>
            <result property="serviceIds" column="service_ids" jdbcType="VARCHAR"/>
            <result property="keywords" column="keywords" jdbcType="VARCHAR"/>
            <result property="note" column="note" jdbcType="VARCHAR"/>
            <result property="picIdListStr" column="pic_id_list_str" jdbcType="VARCHAR"/>
            <result property="detailTitle" column="detail_title" jdbcType="VARCHAR"/>
            <result property="detailDesc" column="detail_desc" jdbcType="VARCHAR"/>
            <result property="brandName" column="brand_name" jdbcType="VARCHAR"/>
            <result property="productCategoryName" column="product_category_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,brand_id,product_category_id,
        product_attribute_category_id,name,pic,
        product_sn,delete_status,publish_status,
        sort,sale,price,
        sub_title,description,original_price,
        stock,low_stock,unit,
        weight,service_ids,keywords,
        note,pic_id_list_str,detail_title,
        detail_desc,brand_name,product_category_name
    </sql>
</mapper>
