<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gll.shop.mapper.ProductAttributeMapper">

    <resultMap id="BaseResultMap" type="com.gll.shop.entity.ProductAttribute">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="productAttributeCategoryId" column="product_attribute_category_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="selectType" column="select_type" jdbcType="INTEGER"/>
            <result property="inputType" column="input_type" jdbcType="INTEGER"/>
            <result property="inputList" column="input_list" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="filterType" column="filter_type" jdbcType="INTEGER"/>
            <result property="searchType" column="search_type" jdbcType="INTEGER"/>
            <result property="relatedStatus" column="related_status" jdbcType="INTEGER"/>
            <result property="handAddStatus" column="hand_add_status" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,product_attribute_category_id,name,
        select_type,input_type,input_list,
        sort,filter_type,search_type,
        related_status,hand_add_status,type
    </sql>
    <select id="getProductTypeParam" resultType="com.gll.shop.entity.ProductAttributePO">
        SELECT pa.id,
               pa.`name`,
               pa.select_type  as selectType,
               pa.input_list as inputList,pac.`name` as productTypeName
              from product_attribute as pa INNER JOIN product_attribute_category as pac
        where pa.product_attribute_category_id = pac.id  and pa.product_attribute_category_id = #{param.id} and type = #{param.type}
    </select>
</mapper>
