<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gll.shop.mapper.SysUserRoleMapper">

    <resultMap id="BaseResultMap" type="com.gll.shop.entity.SysUserRolePO">
            <id property="userId" column="user_id" jdbcType="VARCHAR"/>
            <id property="roleId" column="role_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updater" column="updater" jdbcType="VARCHAR"/>
            <result property="rowVersion" column="row_version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,role_id,create_time,
        creator,update_time,updater,
        row_version
    </sql>
</mapper>
